@{
    ViewBag.Title = "Start";
}

<h2>Start</h2>
<h3>SignalR</h3>
<a href="@Url.Action("Chat","Home")">Chat</a>
<br/>
<a href="@Url.Action("MultiSeriesLineChart","Home")">Multi-Series Line Chart</a>
